body {
    background-color: 404247;
    overflow:hidden;
}

#rect1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;

    background: #333333;
}

#logo {
    position:absolute;
    width:42px;
    height:42px;
    left:11px;
    top:8px;
}

#title {
    position: absolute;
    width: 251px;
    height: 35px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;

    color: #FFFFFF;
    left:40px;
    top:19px;
}

/* SETTINGS */

.settings {
    position: fixed;
    background: #222222;
    color: var(--clr-light);
    top: 60px;
    height: 226px;
    left: 0;
    right: 0;
    z-index:100;

    transform:translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.settings-open .settings{
    transform: translatex(0);
}

.settings-open .settings-toggle {
    position: fixed;
}

.settings-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 0.6em;
    top: 1em;
}

.gear {
    display: block;
    position: relative;
    margin-top:-11px;
    overflow:hidden;
    transition-duration:0.2s;
    transition-property: transform;
}

.gear,
.gear::before,
.gear::after {
    background: var(--clr-accent);
    width: 2.3em;
    height:2.3em;
    transition: transform 0.4s
}

.gear::before,
.gear::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.gear:hover {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

/* BODY */

#lofiVid {
    position:absolute;
    left:0px;
    top:60px;
    background-color: #000000;
}

#blackbox {
    position:absolute;
    left:0px;
    top:57px;
    width:397px;
    height:226px;
}

#timeRect {
    position: absolute;
    width: 250px;
    height: 60px;
    left: 35px;
    top: 301px;

    background: #000000;
    border-radius: 6px;
}

#timeDisplay {
    position: absolute;
    width: 300px;
    height: 35px;
    top: 315px;
    left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}

#progressbar {
    position:absolute;
    height:4px;
    top:357px;
    left:36px;
    background-color: white;
    border-radius:6px;
}

#button {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 306px;
    top: 301px;
    text-align: center;
    /*justify-content: center;*/
    display: flex;

    border-radius: 100px;
    box-sizing: border-box;
    font-size: 12px;
    border-width:3px;
}

.btn:focus {
    box-shadow: none;
    outline: none;
}

#buttonContent {
    margin-top: 28%;
    margin-left:4px;
}

#workLengthSpan {
    position: absolute;
    /* width: 166px; */
    height: 31px;
    left: 20px;
    top: 23px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: left;

    color: #FFFFFF;
}

#userWorkTime {
    position: absolute;
    width: 70px;
    height:30px;
    left: 148px;
    top: 18px;
    background: #000000;
    color: white;
}

#breakLengthSpan {
    position: absolute;
    height: 31px;
    left: 20px;
    top: 70px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: left;

    color: #FFFFFF;
}

#userBreakTime {
    position: absolute;
    width: 70px;
    height:30px;
    left: 148px;
    top: 64px;
    background: #000000;
    color: white;
}

#saveButton {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 320px;
    top: 27px;
    font-size:12px;
    /* font-family: Roboto; */
    font-style: normal;
    text-align: center;
    /* background: #C4C4C4; */
    border-radius: 100px;
    border-width: 3px;
    color:white;
    font-size:13px;

}

#line1 {
    position:absolute;
    width:400px;
    height:3px;
    top:98px;
    color:rgba(255, 255, 255, 0.263);
}

#enableAlertsSpan {
    position: absolute;
    width: 200px;
    height: 31px;
    left: 85px;
    top: 139px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: left;

    color: #FFFFFF;
}

#notificationSwitch {
    position: absolute;
    left: 317px;
    top: 140px;
}

#enableSoundsSpan {
    position: absolute;
    width: 200px;
    height: 31px;
    left: 85px;
    top: 175px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: left;

    color: #FFFFFF;
}

#soundSwitch {
    position: absolute;
    left: 317px;
    top: 176px;
}

#pomodorosCompleted {
    position: absolute;
    width: 258px;
    height: 31px;
    left: 75px;
    top: 376px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;
}

html {
    background-color: grey;
}

span {
    font-family:'Times New Roman', Times, serif;
}