body {
    background-color: 404247
}

#rect1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;

    background: #333333;
}

#logo {
    position:absolute;
    width:42px;
    height:42px;
    left:10px;
    top:6px;
}

#title {
    position: absolute;
    width: 251px;
    height: 35px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;

    color: #FFFFFF;
    left:39px;
    top:19px;
}

/* SETTINGS */

.settings {
    position: fixed;
    background: #222222;
    color: var(--clr-light);
    top: 60px;
    height: 226px;
    left: 0;
    right: 0;
    z-index:100;

    transform:translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.settings-open .settings{
    transform: translatex(0);
}

.settings-open .settings-toggle {
    position: fixed;
}

.settings-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 0.6em;
    top: 1em;
}

.gear {
    display: block;
    position: relative;
    margin-top:-10px;
    overflow:hidden;
    transition-duration:0.8s;
    transition-property: transform;
}

.gear,
.gear::before,
.gear::after {
    background: var(--clr-accent);
    width: 2em;
    height:2em;
    transition: transform 0.4s
}

.gear::before,
.gear::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.gear:hover {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

/* END */
#lofiVid {
    position:absolute;
    left:0px;
    top:60px;
    background-color: #000000;
}

#blackbox {
    position:absolute;
    left:0px;
    top:60px;
    width:397px;
    height:226px;
}

#timeRect {
    position: absolute;
    width: 250px;
    height: 60px;
    left: 28px;
    top: 304px;

    background: #000000;
    border-radius: 6px;
}

#timeDisplay {
    position: absolute;
    width: 300px;
    height: 35px;
    top: 318px;
    left: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}

#progressbar {
    position:absolute;
    height:4px;
    top:360px;
    left:29px;
    background-color: white;
    border-radius:6px;
}

#button {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 300px;
    top: 304px;
    text-align: center;
    justify-content: center;
    display: flex;

    border-radius: 100px;
    box-sizing: border-box;
    font-size: 12px;
    border-width:3px;
}

.btn:focus {
    box-shadow: none;
    outline: none;
}

#buttonContent {
    margin-top: 28%;
}

#workLengthSpan {
    position: absolute;
    width: 166px;
    height: 31px;
    left: 41px;
    top: 80px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;
}

#userWorkTime {
    position: absolute;
    width: 85px;
    left: 200px;
    top: 73px;
    background: #000000;
    color: white;
}

#breakLengthSpan {
    position: absolute;
    width: 166px;
    height: 31px;
    left: 38px;
    top: 125px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;
}

#userBreakTime {
    position: absolute;
    width: 85px;
    left: 200px;
    top: 117px;
    background: #000000;
    color: white;
}

#saveButton {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 300px;
    top: 82px;
    font-size:12px;
    /* font-family: Roboto; */
    font-style: normal;
    text-align: center;
    /* background: #C4C4C4; */
    border-radius: 100px;
    border-width: 3px;
    color:white;
    font-size:13px;

}

#pomodorosCompleted {
    position: absolute;
    width: 258px;
    height: 31px;
    left: 75px;
    top: 380px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;
}

html {
    background-color: grey;
}
